.footer{
    padding: $separacion2 0;
    background-color: $grisOscuro;
    margin-bottom: 0;

    .contenido-footer{
        padding-top: $separacion2;
    }

    .navegacion{
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .copyright{
        color: $blanco;
        text-align: center;
    }
}